doctype html
html
	head
		title #{title}
		include ./importscss.pug
	body.grey.lighten-4
		include ./nav.pug
		div.row.container(style="margin-top:25px;")
			div.col
				if(usuario)
					div.chip Bienvenido #{usuario}
						img(src="https://ece.nl/wp-content/uploads/person-dummy.jpg" , alt="usuario") 
						
				form(action="/buscar", method="post")
					div.input-field
						input.validate#txtBook(type="text",name="txtBook")
						label(for="txtBook") Buscar libro
				div.collection
					each categoria in categorias
						a.collection-item(href="/categoria/" + categoria.category_id) #{categoria.name}

			div.col.s9
			
				div.row
					each libro in libros
						div.col.m4
							div.card
								div.card-image
									img.materialboxed(src=libro.cover,style="height:500;")
									a.btn-floating.halfway-fab.waves-effect.waves-light-red 
										i.material-icons library_books
								div.card-content
									p!= libro.content_short

		include ./importsjs.pug

